global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['10.1.0.4:9100', '10.1.0.5:9100']
  
  - job_name: 'web-servers'
    static_configs:
      - targets: ['10.1.0.4:3000', '10.1.0.5:3000']
