groups:
  - name: semua server
    rules:
      - alert: CPUHighUsage
        expr: (sum by (instance) (rate(node_cpu_seconds_total{mode!="idle", job="node-exporter"}[5m]))) / (sum by (instance) (rate(node_cpu_seconds_total{job="node-exporter"}[5m]))) * 100 >= 50
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "CPU usage di instance {{ '{{' }} $labels.instance {{ '}}' }} >= 50% selama 30 detik terakhir!"
          description: "CPU load tinggi terdeteksi."
