---
- name: Configure all servers with common setup
  hosts: all
  become: true
  gather_facts: yes
  roles:
    - common

# install node exporter on all servers
- name: Install Node Exporter on all servers
  hosts: all
  become: true
  collections:
    - prometheus.prometheus
  roles:
    - node_exporter

# Configure monitoring server with Prometheus, Grafana, and Nginx Load Balancer
- name: Configure monitoring server
  hosts: monitoring_server
  become: true
  gather_facts: yes
  vars_files:
    - group_vars/secret.yml
  roles:
    - monitoring
  # ----- INI PERBAIKAN PENTING UNTUK ERROR PERMISSION DENIED -----
  tasks:
    - name: Ensure /opt/monitoring/terraform directory is owned by ansible_user
      ansible.builtin.file:
        path: /opt/monitoring/terraform
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'
        recurse: yes
  # -----------------------------------------------------------

- name: Clone terraform repository
  hosts: monitoring_server
  become: true                     # <-- PERBAIKAN: INI DITAMBAHKAN
  become_user: "{{ ansible_user }}"
  vars_files:
    - group_vars/secret.yml
  # roles: - monitoring <-- PERBAIKAN: INI DIHAPUS KARENA SALAH/REDUNDAN
  tasks:
    - ansible.builtin.git:
        repo: 'https://{{username}}:{{password}}@gitlab.53buahapel.web.id/iac/terraform.git'
        dest: /opt/monitoring/terraform
        version: main
        update: yes
        force: yes

- name: Configure web servers with Docker
  hosts: web_servers
  become: true
  gather_facts: yes
  roles:
    - web-server