---
- name: Install python3-pip
  ansible.builtin.package:
    name: python3-pip
    state: present

- name: Install docker-py
  ansible.builtin.pip:
    name: docker
    state: present

- name: pull latest image from Docker Hub
  community.docker.docker_image:
    name: internundip/website-eduko
    tag: latest
    source: pull
    force_source: true

- name: create and start container
  community.docker.docker_container:
    name: website-eduko
    image: internundip/website-eduko:latest
    state: started
    restart_policy: always
    recreate: true
    env:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: '1'
    ports:
      - "3000:3000"
